ul {
	font-size:125%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0C4C67;
    color:#0C4C67;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color:white;
    
}

li a:hover:not(.active) {
    background-color:white;
	color:#0C4C67;
}

.active {
    background-color: #0C4C67;
}
text{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:100px;
	padding-top:60px;
	color:#0C4C67;
	float: left;
        width: 33.33%;
	
	
}
body {
	
	margin:0;    
}
