
body {
	background-color: #2fb0bc;
        font-family: Courier;

}

#banner{
color:white;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:250%;
width:500px;
background-color: #2fb0bc;
}

ul{

color:#2fb0bc;
background-color:white;
list-style-type:none;
margin: 0;
text-align:center;
width:200px;
height:auto;
}

li a {
    display: block;
    padding: 8px 16px;
}


li a:hover {
    background-color:#2fb0bc ;
    color:white;
}



#Middlebutton{
	
}

#Mainbody{
margin-left:auto;
margin-right:auto;
	
}

#footer{
	
}
