body {
	background: url("https://images.alphacoders.com/744/74453.jpg") no-repeat fixed 100%;
         font-family: Courier;
	background-repeat:no-repeat;
        background-size:cover;
 

}

#banner{

color:#f4f8ff;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:350%;
width:33%;
background-color:rgba(47,176,188);
}
#veticlemenu{
margin-left:auto;
margin-right:auto;	
}
ul{
font-size:200%;
font-family: Courier;
text-align: center;
vertical-align: middle;
line-height: 150px; 
opacity:0.8;

color:#2fb0bc;
background-color:white;
list-style-type:none;

width:33%;
height:100%;
padding:0;
margin-left:auto;
margin-right:auto;
}

li a{
	border-style:solid;
    border-color:#2fb0bc;
    display: block;
	height:25%;
  	
}

a{
    text-decoration:none;color:#2fb0bc;
	

}

li a:hover {
    background-color:#2fb0bc ;
    color:white;
	
}





#footer{
	
}
