body {
	background: url("/media/pexels-photo-70234.jpeg") no-repeat fixed 100%;
        font-family: Courier;
	background-repeat:no-repeat;
        background-size:cover;
	margin:0;
	
 

}

#banner{

color:#2fb0bc;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:350%;
width:33%;
background-color:rgba(47,176,188);
}
#veticlemenu{
margin-left:auto;
margin-right:auto;	
}
ul{
    font-size:150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    opacity:0.8;
    position: fixed;
    top: 0;
    width:33%;
    height:100%;
}

li {
    float: left;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style:solid;
    border-color:#2fb0bc;
    height:25%;
}

a{
    text-decoration:none;color:#2fb0bc;	

}


li a:hover{
    background-color:#2fb0bc ;
    color:white;
	
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
#banner{
  font-size:60%:
  }

	
paragraph {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
} 
